0.0.0.0:8080 {
    root /www
    gzip
    proxy /hypem https://hypem.com {
        without /hypem
    }
    proxy /test https://api.github.com/zen {
        without /test
    }
    log / stdout "{when} Request: {status} {method} {uri}"
}